.card {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(220, 220, 220);
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.avatar-container {
  overflow: hidden;
  margin-bottom: 15px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.details h3 {
  margin-bottom: 5px;
}

.details .bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.details .role {
  font-weight: bold;
}
